div.color-sample {
  min-height: 50px !important;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.plugin-title {
  font-weight: 300;
}

.plugin-desc {
  margin-bottom: 30px;
}

.plugin-container {
  display: none;
}

.card-top-right-icon {
  float: right;
  padding: 20px 20px 0 0;
}

.card-icon-image {
  text-align: center;
  width: 100%;
  font-size: 200px;
}

#file-input {
  display: none;
}

#button-config [data-buttons-exist="no"] {
  visibility: hidden;
}

#button-config [data-buttons-exist="yes"] {
  visibility: visible;
}

#button-name {
  font-weight: 300;
  margin-bottom: 30px;
}

ul.color.dropdown-content > li > a {
  color: inherit;
}

#color-scheme-list > a.collection-item > div.row {
  margin-top: 5px;
}

nav.row {
  margin-bottom: 0px;
}

nav.with-tabs {
  height: 112px; /* nav height is 64, tabs height is 48 */
}

nav.with-tabs > .tabs {
  background-color: inherit;
  margin-bottom: 0px;
}

section.tab-content {
  height: calc(100% - 112px); /* nav height with tabs is 112 */
  width: 100% !important;
}

#floating-save-button {
  position: absolute !important;
  right: 128px;
  top: 84px; /* nav height is 64, tabs height is 48, but we substract btn height / 2 to center it, height is 56 */
}

#buttons-tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

section.tab-content > .card {
  margin: 1rem;
}

.card.horizontal {
  height: fit-content;
}

.card.horizontal .card-image {
  width: 100px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 24px;
}

.card-image img {
  object-fit: contain;
}

.card-image i.preview {
  text-align: center;
}

.card-missing-image {
  text-align: center;
}

.card-content {
  min-width: 400px;
}

.card-action .switch {
  display: inline-block;
}

.switch > span {
  vertical-align: text-top;
}

.switch > i.material-icons {
  vertical-align: middle;
  font-size: inherit;
}

.switch.no-margin.right span.lever {
  margin-right: 0px;
}

.switch.no-margin.left span.lever {
  margin-left: 0px;
}

.input-field input {
  margin-bottom: 10px !important;
}

.brand-logo {
  position: initial !important;
}

.hidden {
  display: none !important;
}
