@import '../global.less';

.side-nav + main {
  .with-side-nav;
  display: flex;
}

main > section {
  flex-basis: 33.33%;
  height: inherit;
  padding: 0 16px;
  display: inline-flex;
  flex-flow: column;
}
