.centered {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#default-pane {
  z-index: 10050;
}

nav.nav-wrapper {
  z-index: 1000;
  position: relative;
}

ul.side-nav.fixed > li {
  width: 100%;
}

ul.side-nav.fixed.clipped {
  padding-top: 72px; /* 64 is nav height, 8 is for padding */
}

ul.dropdown-content.overflow {
  margin-top: 16px; /* top padding of icon is 16 */
}

.button-content {
  line-height: 48px; /* size of drawer button height */
  vertical-align: top;
}

img.button-image {
  margin: 4px 32px 4px 0px;
  height: 40px; /* size of drawer button height, minus 4+4 margins */
  object-fit: contain;
}
