.side-nav + main {
  margin-left: 300px; /* width of side-nav */
  position: relative;
  height: 100%;
  display: flex;
}

main > section {
  flex-basis: 33.33%;
  display: inline-flex;
  height: inherit;
}
