.button-text {
	font-size: large;
	margin-left: 16px;
}

.button-link {
	color: black;
}

.button-image-wrapper > img {
	width: 50px;
	height: 50px;
}

.button-image-wrapper > i.material-icons {
	font-size: 50px;
}

.centered {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#buttons > li {
	width: 100%;
}

#default-pane {
  z-index: 10050;
}

nav.nav-wrapper {
  z-index: 1000;
  position: relative;
}

ul.side-nav.fixed.clipped {
  padding-top: 72px; /* 64 is nav height, 8 is for padding */
}

ul.dropdown-content.overflow {
  margin-top: 16px; /* top padding of icon is 16 */
}
