body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}

a {
  -webkit-user-drag: none;
}

img {
  pointer-events: none;
}

.centered {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.button-text {
	font-size: large;
	margin-left: 16px;
}

.button-link {
	color: black;
}

.button-image-wrapper {
	width: 50px;
	height: 50px;
}

.button-image-wrapper > i.material-icons {
	font-size: 50px;
}

.color-sample {
	min-height: 50px;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

.plugin-container {
  display: none;
}

.top-margin {
	margin-top: 5px;
}

#floating-save-button {
	position: absolute !important;
	bottom: 25px;
	right: 25px;
}

#buttons > li {
	width: 100%;
}

#default-pane {
  z-index: 99999;
}

#file-input {
  display: none;
}

#temp-data {
	position: absolute;
	top: -100px;
}

#settings-link {
  z-index: 10000;
  position: absolute;
  bottom: 5px;
  right: 5px;
	color: black;
}

ul.tabs {
	margin-bottom: 10px;
}

div.indicator.bgcolor + div.indicator {
	display: none;
}

ul.color.dropdown-content > li > a {
	color: inherit;
}

div.focused {
  -webkit-animation: show 0.5s linear 0s 1 normal forwards running;
}

div.unfocused {
  -webkit-animation: hide 0.5s linear 0s 1 normal forwards running;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  99.99% {
    z-index: -1;
  }
  100% {
    z-index: 9999;
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  99.99% {
    z-index: 9999;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}
