body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
  cursor: default;
  -webkit-user-select: none;
}

.blockabsolute {
  display: block;
  position: absolute;
}

.rotate {
  position: absolute;
  top: 0px;
  -webkit-animation: cRotate 7.5s linear 0s infinite reverse;
}

.centered {
  position: absolute;
  margin: auto;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.global-text {
  color: #AAAAAA;
  font-family: 'Courier New';
  font-weight: bold;
  white-space: nowrap;
}

p.dpane-text {
  text-align: center;
  font-size: 100px;
  width: 100%;
  margin: 0px;
  position: absolute;
}

#title {
  top: 150px;
}

#time {
  top: 250px;
}

#date {
  font-size: 50px;
  top: 350px;
}

#data-pane {
  width: 800px;
}

#default-pane {
  width: 100%;
}

/*Default buttons*/
a.button {
  left: 20px;
  background-position: left;
  background-repeat: no-repeat;
  width: 125px;
  line-height: 50px;
  font-size: 13px;
  text-decoration: none;
  -webkit-animation: buttonAnimDefault 0.25s ease 0s 1 both;
}
a.button:hover {
  color: #FFFFFF;
  text-decoration: underline;
  -webkit-animation: buttonAnim 0.25s ease 0s 1 both;
}

/*Default button text*/
pre.buttonText {
  color: #FFFFFF;
  font-family: monospace;
  white-space: pre;
  margin-left: 55px;
}

div.focused {
  -webkit-animation: show 0.5s linear 0s 1 normal forwards running;
}
div.unfocused {
  -webkit-animation: hide 0.5s linear 0s 1 normal forwards running;
}

@-webkit-keyframes show {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes hide {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@-webkit-keyframes cRotate {
  100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes buttonAnim {
  100% {-webkit-transform: translate(20px);}
}

@-webkit-keyframes buttonAnimDefault {
  100% {-webkit-transform: translate(-20px);}
}
