body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}

.blockabsolute {
  display: block;
  position: absolute;
}

/*Default buttons*/
a.button {
  color: #FFFFFF;
  left: 20px;
  background-position: left;
  background-repeat: no-repeat;
  width: 125px;
  line-height: 50px;
  font-family: 'Comic Sans';
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  -webkit-animation: buttonAnimDefault 0.25s ease 0s 1 both;
}
a.button:hover {
  text-decoration: underline;
  -webkit-animation: buttonAnim 0.25s ease 0s 1 both;
}

.globalText {
  color: #AAAAAA;
  font-family: 'Courier New';
  font-weight: bold;
  white-space: nowrap;
}

/*Default button text*/
pre.buttonText {
  color: #FFFFFF;
  font-family: monospace;
  white-space: pre;
  margin-left: 55px;
}

/*Default texts*/
p.texts {
  font-size: 100px;
}

/*LoL tab text*/
pre.infoText {
  font-size: 20px;
  left: 5px;
}

/*Images*/
#gmail {background-image: url('assets/gmail.png'), url('assets/button.png');}
#youtube {background-image: url('assets/youtube.png'), url('assets/button.png');}
#translate {background-image: url('assets/translate.png'), url('assets/button.png');}
#reddit {background-image: url('assets/reddit.png'), url('assets/button.png');}
#lolnexus {background-image: url('assets/lolnexus.png'), url('assets/button.png');}
#github {background-image: url('assets/github.png'), url('assets/button.png');}
#match {background-image: url('assets/lol.png'), url('assets/button.png');}

/*Default texts*/
#time {
  top: 150px;
  left: 34%;
}
#date {
  top: 300px;
  left: 22%;
  font-size: 50px;
}
#name {
  top: 50px;
  left: 38%;
}
#redditkarma {
  top: 385px;
  left: 33%;
  color: #AAAAAA;
  font-size: 30px;
  text-align: center;
  white-space: pre;
}

/*Circle animation*/
#circle {
  -webkit-animation: cRotate 7.5s linear 0s infinite reverse;
}

/*LoL tab*/
#matchHistoryPane {
  visibility: hidden;
  display: block;
  position: absolute;
}

/*Default tab*/
#defaultPane {
  display: block;
  position: absolute;
  height: 100%;
}

/*Div movements*/
div.goLeft {
  -webkit-animation: moveLeft 3s ease 0s 1 normal forwards running;
}
div.goRight {
  -webkit-animation: moveRight 3s ease 0s 1 normal forwards running;
}

/*LoL tab 'Go Back' button*/
#reverse {
  color: #FFFFFF;
  left: 20px;
  background-position: left;
  background-repeat: no-repeat;
  width: 125px;
  line-height: 50px;
  font-family: 'Comic Sans';
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  -webkit-animation: buttonAnimDefault 0.25s ease 0s 1 both;
  background-image: url('back.png'), url('button.png');
}
#reverse:hover {
  text-decoration: underline;
  -webkit-animation: buttonAnim 0.25s ease 0s 1 both;
}

/*Table*/
#players {
  top: 88px;
  left: 450px;
  color: #AAAAAA;
  font-family: 'Courier New';
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}
#red {
  text-align: right;
  top: -25px;
  right: 5px;
}
#blue {
  text-align: left;
  top: -25px;
  left: 5px;
}
