/*LoL tab text*/
pre.infoText {
  font-size: 20px;
  left: 5px;
}

/*Default texts*/
#name {
  top: 50px;
  font-size: 100px;
}
#time {
  top: 150px;
  font-size: 100px;
}
#date {
  top: 300px;
  font-size: 50px;
}
#redditkarma {
  top: 385px;
  font-size: 30px;
  text-align: center;
  white-space: pre;
}
